<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Feature.PageContent" description="Feature PageContent" dependencies="Foundation.*" extends="Helix.Feature">
                  <predicate>
                    <include name="Html Editor Profiles" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text FrasersProperty" />
                  </predicate>
                  <rolePredicate>
                    <include domain="modules" pattern="^Feature PageContent .*$" />
                  </rolePredicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>