<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Foundation.Search" description="Foundation Search" dependencies="Foundation.Serialization" extends="Helix.Foundation">
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>