<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <contentSearch>
            <indexConfigurations>
                <frasersRewardsIndexConfiguration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
                    <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                    </fieldMap>
                    <documentOptions ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentOptions">
                        <fields hint="raw:AddComputedIndexField">
                            <!--mall fields-->
                            <field fieldName="main_site" returnType="string">Sitecore.Foundation.Search.Models.Index.Fields.MallSiteSettingComputedField, Sitecore.Foundation.Search</field>
                            <!--store fields-->
                            <field fieldName="store_categories" returnType="stringCollection">Sitecore.Foundation.Search.Models.Index.Fields.CategoryComputedField, Sitecore.Foundation.Search</field>
                            <field fieldName="store_offers" returnType="stringCollection">Sitecore.Foundation.Search.Models.Index.Fields.OfferComputedField, Sitecore.Foundation.Search</field>
                            <field fieldName="store_has_upcoming_or_new_date" returnType="bool">Sitecore.Foundation.Search.Models.Index.Fields.StoreHasUpcomingOrNewDateComputedField, Sitecore.Foundation.Search</field>
                            <field fieldName="store_mall_site" returnType="string">Sitecore.Foundation.Search.Models.Index.Fields.StoreMallSiteComputedField, Sitecore.Foundation.Search</field>
                            <field fieldName="store_expired_date" returnType="datetime">Sitecore.Foundation.Search.Models.Index.Fields.StoreExpiryDateComputedField, Sitecore.Foundation.Search</field>
                            <field fieldName="store_next_three_months_new_date" returnType="datetime">Sitecore.Foundation.Search.Models.Index.Fields.StoreNextThreeMonthsNewDateComputedField, Sitecore.Foundation.Search</field>
                            <field fieldName="wing" returnType="string">Sitecore.Foundation.Search.Models.Index.Fields.StoreWingComptedField, Sitecore.Foundation.Search</field>
                            <!--event category fields-->
                            <field fieldName="event_category" returnType="string">Sitecore.Foundation.Search.Models.Index.Fields.EventCategoryComputedField, Sitecore.Foundation.Search</field>
                            <field fieldName="is_special_event" returnType="bool">Sitecore.Foundation.Search.Models.Index.Fields.IsSpecialEventComputedField, Sitecore.Foundation.Search</field>
                            <field fieldName="event_mall_name" returnType="string">Sitecore.Foundation.Search.Models.Index.Fields.EventMallNameComputedField, Sitecore.Foundation.Search</field>
                            <field fieldName="start_date" returnType="datetime">Sitecore.Foundation.Search.Models.Index.Fields.StartDateComputedField, Sitecore.Foundation.Search</field>
                            <field fieldName="end_date" returnType="datetime">Sitecore.Foundation.Search.Models.Index.Fields.EndDateComputedField, Sitecore.Foundation.Search</field>
                            <!--article category fields-->
                            <field fieldName="article_category" returnType="string">Sitecore.Foundation.Search.Models.Index.Fields.ArticleCategoryComputedField, Sitecore.Foundation.Search</field>
                            <field fieldName="related_store" returnType="string">Sitecore.Foundation.Search.Models.Index.Fields.ArticleStoreComputedField, Sitecore.Foundation.Search</field> 
                            <!--event show in malls fields-->
                            <field fieldName="event_show_in_mall" returnType="stringCollection">Sitecore.Foundation.Search.Models.Index.Fields.EventDisplayInMallComputedField, Sitecore.Foundation.Search</field>
                            <!--has expiry date fields-->
                            <field fieldName="expiry_date_has_value" returnType="bool">Sitecore.Foundation.Search.Models.Index.Fields.ExpiryDateHasValueComputedField, Sitecore.Foundation.Search</field>
                            <!--has post date fields-->
                            <field fieldName="post_date_has_value" returnType="bool">Sitecore.Foundation.Search.Models.Index.Fields.PostDateHasValueComputedField, Sitecore.Foundation.Search</field>
                            <!-- pageviews -->
                            <field fieldName="page_views" returnType="int">Sitecore.Foundation.Search.Models.Index.Fields.PageViewsComputedField, Sitecore.Foundation.Search</field>
                          <!--blog category fields-->
                          <field fieldName="blog_category" returnType="string">Sitecore.Foundation.Search.Models.Index.Fields.BlogCategoryComputedField, Sitecore.Foundation.Search</field>
                          <field fieldName="expiry_date" returnType="datetime">Sitecore.Foundation.Search.Models.Index.Fields.StoreExpiryDateComputedField, Sitecore.Foundation.Search</field>
                          <field fieldName="post_date" returnType="datetime">Sitecore.Foundation.Search.Models.Index.Fields.PostDateComputedField, Sitecore.Foundation.Search</field>
                        </fields>
                    </documentOptions>
                    <virtualFields ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/virtualFields" />
                    <fieldReaders ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldReaders">
                      <mapFieldByTypeName hint="raw:AddFieldReaderByFieldTypeName">
                        <fieldReader fieldTypeName="Description"  fieldReaderType="Sitecore.ContentSearch.FieldReaders.RichTextFieldReader, Sitecore.ContentSearch" />
                        <fieldReader fieldTypeName="Conversation"  fieldReaderType="Sitecore.ContentSearch.FieldReaders.RichTextFieldReader, Sitecore.ContentSearch" />
                      </mapFieldByTypeName>
                    </fieldReaders>
                    <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexFieldStorageValueFormatter" />
                    <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexDocumentPropertyMapper" />
                    <documentBuilderType ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentBuilderType" />
                    <defaultSearchSecurityOption ref="contentSearch/indexConfigurations/defaultSearchSecurityOption" />
                </frasersRewardsIndexConfiguration>
            </indexConfigurations>
        </contentSearch>

      <!-- Enable anonymous contacts and their interactions to be indexed -->
      <setting name="ContentSearch.Analytics.IndexAnonymousContacts">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
    </sitecore>
</configuration>