<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Import" description="Foundation Import" dependencies="Foundation.Serialization" extends="Helix.Foundation">
          <predicate>
            <include name="Module" database="master" path="/sitecore/system/Modules/Importer" />
            <include name="Media" database="master" path="/sitecore/media library/Importer" />
            <include name="Applications" database="core" path="/sitecore/client/Applications/Importer" />
            <include name="Launchpad" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Tools/Importer" />
          </predicate>
          <rolePredicate>
            <include domain="modules" pattern="^Foundation Import .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>