<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Sitecore.Foundation.Import.RootItemQuery" value="/sitecore/content//*"/>
      <setting name="Sitecore.Foundation.Import.RootMediaItemQuery" value="/sitecore/media library/Master//*[@@name='Products']"/>
      <setting name="Sitecore.Foundation.Import.MapsLocation" value="/sitecore/system/Modules/Importer//*[@@templatename='ImportMap']"/>
      <setting name="Sitecore.Foundation.Import.ImportDirectory" value="~/temp/ProductImport"/>
      <setting name="Sitecore.Foundation.Import.IdentityImageSiteCorePath" value="/sitecore/media library/Feature/Identity"/>
      <setting name="Sitecore.Foundation.Import.StoreImageSiteCorePath" value="/sitecore/media library/Feature/Store"/>
      <setting name="Sitecore.Foundation.Import.BannerImageSiteCorePath" value="/sitecore/media library/Feature/Banner"/>
      <setting name="Sitecore.Foundation.Import.EventImageSiteCorePath" value="/sitecore/media library/Feature/Event"/>
      <setting name="Sitecore.Foundation.Import.ThumbnailSiteCorePath" value="/sitecore/media library/Feature/Event"/>
      <setting name="Sitecore.Foundation.Import.ArticleImageSiteCorePath" value="/sitecore/media library/Feature/Article"/>
      <setting name="Sitecore.Foundation.Import.BlogImageSiteCorePath" value="/sitecore/media library/Feature/Blog"/>
      <setting name="Sitecore.Foundation.Import.PageImageSiteCorePath" value="/sitecore/media library/Feature/PageContent"/>
      <setting name="Sitecore.Foundation.Import.UploadedSiteCoreSiteCorePath" value="/sitecore/media library/TempImportImages"/>
      <setting name="Sitecore.Foundation.Import.Slash" value="/"/>
      <setting name="Sitecore.Foundation.Import.ImporterDialog" value="/sitecore/client/Applications/Importer/ImporterDialog"/>
      <setting name="Sitecore.Foundation.Import.ImportItemsSubDirectory" value="Items"/>
      <setting name="Sitecore.Foundation.Import.ImportMediaSubDirectory" value="Media"/>
      
      <!-- Skip, SetBroken, ??SetEmpty?? CreateItem? -->
      <setting name="Sitecore.Foundation.Import.InvalidLinkHandling" value="CreateItem"/>
      <!-- Possible values are: AddVersion, Update, Skip -->
      <setting name="Sitecore.Foundation.Import.ExistingItemHandling" value="Update"/>
      <setting name="Sitecore.Foundation.Import.MultipleValuesImportSeparator" value="|"/>
      <setting name="Sitecore.Foundation.Import.TreePathValuesImportSeparator" value="\"/>
      <setting name="Sitecore.Foundation.Import.CsvDelimiter" value=","/>
      <setting name="Sitecore.Foundation.Import.FirstRowAsColumnNames" value="true"/>
    </settings>
    <api>
      <services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <allowedControllers hint="list:AddController">
            <allowedController desc="SitecoreFoundationImportController">Sitecore.Foundation.Import.Controllers.ImportController, Sitecore.Foundation.Import</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
    <pipelines>
      <importItems hint="Processors should derive from Sitecore.Foundation.Import.Pipelines.ImportItems.ImportItemsProcessor">
        <processor type="Sitecore.Foundation.Import.Pipelines.ImportItems.ValidateArgs, Sitecore.Foundation.Import"/>
        <processor type="Sitecore.Foundation.Import.Pipelines.ImportItems.ReadData, Sitecore.Foundation.Import"/>
        <processor type="Sitecore.Foundation.Import.Pipelines.ImportItems.ImportMalls, Sitecore.Foundation.Import"/>
        <processor type="Sitecore.Foundation.Import.Pipelines.ImportItems.BuildImportDataStructure, Sitecore.Foundation.Import"/>
        <processor type="Sitecore.Foundation.Import.Pipelines.ImportItems.ValidateItemNames, Sitecore.Foundation.Import"/>
        <processor type="Sitecore.Foundation.Import.Pipelines.ImportItems.CreateAndUpdateItems, Sitecore.Foundation.Import"/>
      </importItems>
    </pipelines>
    <commands>
      <command name="importer:openapplicaton" type="Sitecore.Foundation.Import.Commands.LaunchImporter, Sitecore.Foundation.Import"/>
    </commands>
  </sitecore>
</configuration>
