<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <settings>
            <setting name="ContentSearch.ParallelIndexing.Enabled" value="true" />
        </settings>
        <solutionFramework>
            <indexing>
                <patch:attribute name="defaultProvider">fallback</patch:attribute>
                <providers>
                    <add name="fallback" type="Sitecore.Foundation.Indexing.Infrastructure.Providers.FallbackSearchResultFormatter, Sitecore.Foundation.Indexing" />
                </providers>
            </indexing>
        </solutionFramework>
        <contentSearch>
            <indexConfigurations>
                <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
                    <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
                        <fieldNames hint="raw:AddFieldByFieldName">
                            <field fieldName="all_templates" returnType="stringCollection" fieldNameFormat="{0}_sm"  multiValued="true" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider">
                                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                            </field>
                            <field fieldName="has_presentation" returnType="bool" storageType="YES" indexType="UNTOKENIZED" vectorType="NO" boost="1f"  settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                            <field fieldName="has_search_result_formatter" returnType="bool" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f"  settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                            <field fieldName="search_result_formatter" returnType="string" storageType="YES" indexType="UNTOKENIZED" vectorType="NO"  settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                        </fieldNames>
                    </fieldMap>
                    <virtualFields type="Sitecore.ContentSearch.VirtualFieldProcessorMap, Sitecore.ContentSearch">
                        <processors hint="raw:AddFromConfiguration">
                            <add fieldName="content_type" type="Sitecore.Foundation.Indexing.Infrastructure.Fields.SearchResultFormatterComputedField, Sitecore.Foundation.Indexing"/>
                        </processors>
                    </virtualFields>
                    <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                        <fields hint="raw:AddComputedIndexField">
                            <field fieldName="has_presentation" storageType="YES" indexType="untokenized" >Sitecore.Foundation.Indexing.Infrastructure.Fields.HasPresentationComputedField, Sitecore.Foundation.Indexing</field>
                            <field fieldName="all_templates" storageType="YES" fieldNameFormat="{0}_sm"  multiValued="true" indexType="tokenized" >Sitecore.Foundation.Indexing.Infrastructure.Fields.AllTemplatesComputedField, Sitecore.Foundation.Indexing</field>
                            <field fieldName="has_search_result_formatter" storageType="YES" indexType="untokenized" >Sitecore.Foundation.Indexing.Infrastructure.Fields.HasSearchResultFormatterComputedField, Sitecore.Foundation.Indexing</field>
                            <field fieldName="search_result_formatter" storageType="YES" indexType="untokenized" >Sitecore.Foundation.Indexing.Infrastructure.Fields.SearchResultFormatterComputedField, Sitecore.Foundation.Indexing</field>
                        </fields>
                        <exclude hint="list:AddExcludedField">
                            <SourceID>{0E5B89A0-4344-47A8-816B-2A6C0C8CD82E}</SourceID>
                            <TargetIDs>{E2651D34-D7E3-4256-BFB0-AD4460FDFC81}</TargetIDs>
                        </exclude>
                    </documentOptions>
                    <mediaIndexing>
                        <mimeTypes>
                            <includes>
                                <mimeType>
                                    <patch:delete>application/pdf</patch:delete>
                                </mimeType>
                            </includes>
                        </mimeTypes>
                    </mediaIndexing>
                </defaultSolrIndexConfiguration>
            </indexConfigurations>
        </contentSearch>
    </sitecore>
</configuration>