<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getContentEditorFields>
        <processor type="Sitecore.Shell.Applications.ContentEditor.Pipelines.GetContentEditorFields.GetFields, Sitecore.Client">
          <patch:attribute name="type">Sitecore.Foundation.HiddenFields.Pipelines.GetFields, Sitecore.Foundation.HiddenFields</patch:attribute>
            <HiddenFields>{0E5B89A0-4344-47A8-816B-2A6C0C8CD82E}|{E2651D34-D7E3-4256-BFB0-AD4460FDFC81}</HiddenFields>
        </processor>
      </getContentEditorFields>
    </pipelines>
  </sitecore>
</configuration>