@using Sitecore.Feature.Search
@using Sitecore.Foundation.Dictionary.Extensions

<li><a href="javascript:void(0)" onclick="openOverlay()" title="@Html.Sitecore().Dictionary(Constants.SearchButton, Constants.SearchButtonText)"><img src="@Url.Content("~/images/assets/icon-search.svg")" alt="@Html.Sitecore().Dictionary(Constants.SearchButton, Constants.SearchButtonText)"></a></li>