<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Foundation.SchedulableContent" description="Foundation SchedulableContent" dependencies="Foundation.Serialization" extends="Helix.Foundation">
                    <rolePredicate>
                        <include domain="modules" pattern="^Foundation SchedulableContent .*$" />
                    </rolePredicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>