<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <sitecore>
        <pipelines>
            <httpRequestBegin>
                <processor type="Sitecore.Foundation.SchedulableContent.Pipelines.HttpRequestBegin.CheckItemExpiration, Sitecore.Foundation.SchedulableContent" patch:after="processor[@type='Sitecore.Foundation.ItemResolver.Pipelines.HttpRequestBegin.ResolveItemByUrl, Sitecore.Foundation.ItemResolver']" />
            </httpRequestBegin>
        </pipelines>
        <scheduling>
            <agent type="Sitecore.Tasks.PublishAgent" method="Run" interval="00:30:00">
                <param desc="source database">master</param>
                <param desc="target database">web</param>
                <param desc="mode (full or smart or incremental)">incremental</param>
                <param desc="languages">en, da</param>
            </agent>
        </scheduling>
    </sitecore>
</configuration>