<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Feature.Article" description="Feature Article" dependencies="Foundation.*" extends="Helix.Feature">
                    <rolePredicate>
                        <include domain="modules" pattern="^Feature Article .*$" />
                    </rolePredicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>