@using Sitecore.Foundation.Dictionary.Extensions
<a href="javascript:history.go(-1)" class="more leftarrow" title="@Html.Sitecore().Dictionary("/Website/Back", "Back")">@Html.Sitecore().Dictionary("/Website/Back", "Back")</a>