<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Project.FrasersProperty.Website" description="Frasers content" dependencies="Foundation.*,Feature.*,Project.Common" extends="Helix.Project">
                    <predicate>
                        <include name="Layouts" database="master" path="/sitecore/layout/layouts/Project/FrasersProperty" />
                        <include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/FrasersProperty" />
                        <include name="Sublayouts" database="master" path="/sitecore/layout/Renderings/Project/Sublayouts" />
                        <include name="Branches" database="master" path="/sitecore/templates/Branches/User Defined/FrasersProperty" />
                        <include name="FrasersRewards" database="master" path="/sitecore/content/frasersrewards" />
                        <include name="AnchorPoint" database="master" path="/sitecore/content/anchorpoint" />
                        <include name="WaterwayPoint" database="master" path="/sitecore/content/waterwaypoint" />
                        <include name="FrasersTower" database="master" path="/sitecore/content/fraserstower" />
                        <include name="Global" database="master" path="/sitecore/content/global" />
                        <include name="Media" database="master" path="/sitecore/media library/Project/FrasersProperty" />
                        <include name="Metadata" database="master" path="/sitecore/system/Settings/Feature/Metadata/Frasers Rewards" />
                        <include name="Store" database="master" path="/sitecore/system/Settings/Feature/Store" />
                    </predicate>
                  <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\Project\FrasersProperty\serialization\Roles" singleInstance="true" />
                  <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
                    <include domain="frasersproperty" />
                  </rolePredicate>
                  <roleSyncConfiguration removeOrphans="false" type="Unicorn.Roles.Loader.DefaultRoleSyncConfiguration, Unicorn.Roles" singleInstance="true" />
                  <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sourceFolder)\Project\FrasersProperty\serialization\Users" singleInstance="true" />
                  <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
                    <include domain="frasersproperty" pattern="^((?!Anonymous).)*$"/>
                  </userPredicate>
                  <userSyncConfiguration removeOrphans="true" defaultPassword="b" minPasswordLength="1" type="Unicorn.Users.Loader.DefaultUserSyncConfiguration, Unicorn.Users" singleInstance="true" />
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>