<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <sitemap>
            <!-- Define all of your managed sites here -->
            <!--
              If the "embedLanguage" attribute is set to false, then it's assumed that
              the managed site specifies its language by its domain name, therefore the
              installed languages are not iterated, and no language code is embedded in
              the final produced URL.

              Default value is "true"
            -->
            <site name="frasersrewards" embedLanguage="false">
                <includeBaseTemplates>
                    <!-- List the base templates to be included in sitemap.xml -->
                    <!-- <template>{guid}</template> -->
                </includeBaseTemplates>
                <includeTemplates>
                    <!-- List specific templates to be included in sitemap.xml -->
                    <!-- <template>{guid}</template> -->
                </includeTemplates>
                <excludeItems>
                    <!-- List specific items to be EXcluded from sitemap.xml -->
                    <!-- <item>{guid}</item> -->
                </excludeItems>
            </site>
            <site name="anchorpoint" embedLanguage="false">
                <includeBaseTemplates>
                    <!-- List the base templates to be included in sitemap.xml -->
                    <!-- <template>{guid}</template> -->
                </includeBaseTemplates>
                <includeTemplates>
                    <!-- List specific templates to be included in sitemap.xml -->
                    <!-- <template>{guid}</template> -->
                </includeTemplates>
                <excludeItems>
                    <!-- List specific items to be EXcluded from sitemap.xml -->
                    <!-- <item>{guid}</item> -->
                </excludeItems>
            </site>
            <site name="waterwaypoint" embedLanguage="false">
              <includeBaseTemplates>
                <!-- List the base templates to be included in sitemap.xml -->
                <!-- <template>{guid}</template> -->
              </includeBaseTemplates>
              <includeTemplates>
                <!-- List specific templates to be included in sitemap.xml -->
                <!-- <template>{guid}</template> -->
              </includeTemplates>
              <excludeItems>
                <!-- List specific items to be EXcluded from sitemap.xml -->
                <!-- <item>{guid}</item> -->
              </excludeItems>
            </site>
        </sitemap>
    </sitecore>
</configuration>