<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <domainManager>
            <domains>
                <domain id="frasersproperty" type="Sitecore.Security.Domains.Domain, Sitecore.Kernel">
                    <param desc="name">$(id)</param>
                    <ensureAnonymousUser>false</ensureAnonymousUser>
                </domain>
            </domains>
        </domainManager>
        <events>
            <event name="publish:end">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="frasersrewards">frasersrewards</site>
                        <site hint="frasersrewards">frasersrewardslocal</site>
                    </sites>
                </handler>
            </event>
            <event name="publish:end:remote">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="frasersrewards">frasersrewards</site>
                        <site hint="frasersrewards">frasersrewardslocal</site>
                    </sites>
                </handler>
            </event>
        </events>
        <sites>
            <site name="frasersrewards" patch:after="site[@name='modules_website']"
                  hostName="$(fraserTargetHostName)"
                  targetHostName="$(fraserTargetHostName)"
                  database="web"
                  virtualFolder="/"
                  physicalFolder="/"
                  rootPath="/sitecore/content/frasersrewards"
                  startItem="/Home"
                  dictionaryPath="/sitecore/content/global/dictionary"
                  dictionaryAutoCreate="false"
                  placeholderSettingsRoot="/sitecore/layout/Placeholder Settings/Project/FrasersProperty"
                  domain="frasersproperty"
                  allowDebug="true"
                  cacheHtml="true"
                  htmlCacheSize="50MB"
                  registryCacheSize="0"
                  viewStateCacheSize="0"
                  xslCacheSize="25MB"
                  filteredItemsCacheSize="10MB"
                  enablePreview="true"
                  enableWebEdit="true"
                  enableDebugger="true"
                  enableTracking="true"
                  disableClientData="false"
                  cacheRenderingParameters="true"
                  renderingParametersCacheSize="10MB"
                  loginPage="/login"
                  enableItemLanguageFallback="true"
                  itemNotFoundPage="/sitecore/content/frasersrewards/home/404"
                  serverErrorPage="/sitecore/content/frasersrewards/home/500"
                  itemResolverSettings="/sitecore/content/frasersrewards/settings/Item Resolver Settings" />
            <site name="frasersrewardslocal" patch:after="site[@name='modules_website']"
                  hostName="frasersproperty.local"
                  targetHostName="frasersproperty.local"
                  database="web"
                  virtualFolder="/"
                  physicalFolder="/"
                  rootPath="/sitecore/content/frasersrewards"
                  startItem="/Home"
                  dictionaryPath="/sitecore/content/global/dictionary"
                  dictionaryAutoCreate="false"
                  placeholderSettingsRoot="/sitecore/layout/Placeholder Settings/Project/FrasersProperty"
                  domain="frasersproperty"
                  allowDebug="true"
                  cacheHtml="true"
                  htmlCacheSize="50MB"
                  registryCacheSize="0"
                  viewStateCacheSize="0"
                  xslCacheSize="25MB"
                  filteredItemsCacheSize="10MB"
                  enablePreview="true"
                  enableWebEdit="true"
                  enableDebugger="true"
                  enableTracking="true"
                  disableClientData="false"
                  cacheRenderingParameters="true"
                  renderingParametersCacheSize="10MB"
                  loginPage="/login"
                  enableItemLanguageFallback="true"
                  itemNotFoundPage="/sitecore/content/frasersrewards/home/404"
                  serverErrorPage="/sitecore/content/frasersrewards/home/500"
                  itemResolverSettings="/sitecore/content/frasersrewards/settings/Item Resolver Settings" />
            <site name="anchorpoint" patch:after="site[@name='frasersrewards']"
                inherits="frasersrewards"
                hostName="$(anchorpointTargetHostName)"
                targetHostName="$(anchorpointTargetHostName)"
                rootPath="/sitecore/content/anchorpoint"
                startItem="/Home"
                itemNotFoundPage="/sitecore/content/anchorpoint/home/404"
                serverErrorPage="/sitecore/content/anchorpoint/home/500"
                itemResolverSettings="/sitecore/content/anchorpoint/settings/Item Resolver Settings" />
            <site name="anchorpointlocal" patch:after="site[@name='anchorpoint']"
                inherits="frasersrewards"
                hostName="anchorpoint.local"
                targetHostName="anchorpoint.local"
                rootPath="/sitecore/content/anchorpoint"
                startItem="/Home"
                itemNotFoundPage="/sitecore/content/anchorpoint/home/404"
                serverErrorPage="/sitecore/content/anchorpoint/home/500"
                itemResolverSettings="/sitecore/content/anchorpoint/settings/Item Resolver Settings" />
            <site name="waterwaypoint" patch:after="site[@name='frasersrewards']"
                inherits="frasersrewards"
                hostName="$(waterwaypointTargetHostName)"
                targetHostName="$(waterwaypointTargetHostName)"
                rootPath="/sitecore/content/waterwaypoint"
                startItem="/Home"
                itemNotFoundPage="/sitecore/content/waterwaypoint/home/404"
                serverErrorPage="/sitecore/content/waterwaypoint/home/500"
                itemResolverSettings="/sitecore/content/waterwaypoint/settings/Item Resolver Settings" />
            <site name="waterwaypointlocal" patch:after="site[@name='waterwaypoint']"
                inherits="frasersrewards"
                hostName="waterwaypoint.local"
                targetHostName="waterwaypoint.local"
                rootPath="/sitecore/content/waterwaypoint"
                startItem="/Home"
                itemNotFoundPage="/sitecore/content/waterwaypoint/home/404"
                serverErrorPage="/sitecore/content/waterwaypoint/home/500"
                itemResolverSettings="/sitecore/content/waterwaypoint/settings/Item Resolver Settings" />
        </sites>
        <cacheSizes>
            <sites>
                <frasersrewards>
                    <html>50MB</html>
                    <registry>0</registry>
                    <viewState>0</viewState>
                    <xsl>25MB</xsl>
                </frasersrewards>
                <frasersrewardslocal>
                    <html>50MB</html>
                    <registry>0</registry>
                    <viewState>0</viewState>
                    <xsl>25MB</xsl>
                </frasersrewardslocal>
            </sites>
        </cacheSizes>
        <settings>
            <setting name="Preview.DefaultSite">
                <patch:attribute name="value" value="frasersrewards" />
            </setting>
        </settings>
        <pipelines>
            <mvc.getPageRendering>
                <processor type="Sitecore.Foundation.Assets.Pipelines.GetPageRendering.AddAssets, Sitecore.Foundation.Assets">
                    <siteAssets hint="raw:AddAsset">
                        <asset type="Css" file="/styles/bootstrap.min.css" />
                        <asset type="Css" file="/styles/style.css" />
                        <asset type="Css" file="/styles/slick.css" />
                        <!--<asset type="Css" file="/styles/frasersproperty.min.css" />-->
                        <asset type="JavaScript" file="/js/jquery-1.12.4.min.js" location="Body"/>
                        <asset type="JavaScript" file="/js/slick/slick.min.js" location="Body"/>
                        <asset type="JavaScript" file="/js/frasersproperty.js" location="Body"/>
                        <!--<asset type="JavaScript" file="/js/frasersproperty.min.js" location="Body"/>-->
                    </siteAssets>
                </processor>
            </mvc.getPageRendering>
        </pipelines>
    </sitecore>
</configuration>
