<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="sourceFolder" value="D:\Projects\Frasers\Code\src" />
    <sc.variable name="rootHostName" value="local" />
    <sc.variable name="fraserTargetHostName" value="frasersproperty.local" />
    <sc.variable name="anchorpointTargetHostName" value="anchorpoint.local" />
    <sc.variable name="waterwaypointTargetHostName" value="waterwaypoint.local" />

    <sites>
      <site name="frasersrewards">
        <patch:attribute name="database">master</patch:attribute>
      </site>
    </sites>
    <settings>
      <setting name="Sitecore.Foundation.Installer.RestoreMongo" value="false"/>
    </settings>
  </sitecore>
</configuration>
