<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <!--This sc.variable config using for CI-->
    <sitecore>
        <sc.variable name="sourceFolder" value="D:\Projects\Frasers\Code\src" />
        <sc.variable name="fraserTargetHostName" value="52.163.220.57" />
        <sc.variable name="anchorpointTargetHostName" value="anchorpoint.spoon.com.sg" />
        <sc.variable name="waterwaypointTargetHostName" value="waterwaypoint.spoon.com.sg" />
        <settings>
            <!--none settings-->
        </settings>
    </sitecore>
</configuration>
