<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Foundation.Multisite" description="Foundation Multisite" dependencies="Foundation.Serialization" extends="Helix.Foundation">
                    <predicate>
                        <include name="Branches" database="master" path="/sitecore/templates/branches/Foundation/Multisite" />
                        <include name="Settings" database="master" path="/sitecore/system/settings/Validation Rules/Field Rules/Multisite" />
                        <include name="MultiSiteGroupedDropLink" database="core" path="/sitecore/system/Field types/List Types/Multisite Grouped DropLink" />
                    </predicate>
                    <rolePredicate>
                        <include domain="modules" pattern="^Foundation Multisite .*$" />
                    </rolePredicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>