<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.Foundation.ItemResolver.Pipelines.HttpRequestBegin.ResolveItemByUrl, Sitecore.Foundation.ItemResolver" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
      <mvc.getPageItem>
        <processor type="Sitecore.Foundation.ItemResolver.Pipelines.Response.GetPageItem.GetResovedItem, Sitecore.Foundation.ItemResolver" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.GetPageItem.GetFromRouteValue, Sitecore.Mvc']" />
      </mvc.getPageItem>
      <initializeTracker>
        <processor type="Sitecore.Foundation.ItemResolver.Pipelines.InitializeTracker.InitializeTrackerForItem, Sitecore.Foundation.ItemResolver" patch:after="processor[@type='Sitecore.Analytics.Pipelines.InitializeTracker.CreatePage, Sitecore.Analytics']" />
      </initializeTracker>
    </pipelines>
    
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Foundation.ItemResolver.Events.PublishEnd.WildcardsCachePurgeProcessor, Sitecore.Foundation.ItemResolver" method="ClearCache" />
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Foundation.ItemResolver.Events.PublishEnd.WildcardsCachePurgeProcessor, Sitecore.Foundation.ItemResolver" method="ClearCache" />
      </event>
    </events>
    
    <wildcardManager defaultProvider="wildcardResolver">
      <providers>
        <add name="wildcardResolver" type="Sitecore.Foundation.ItemResolver.Providers.RouteResolving.WildcardRouteResolver, Sitecore.Foundation.ItemResolver" />
      </providers>
    </wildcardManager>
    
    <wildcardItemResolver defaultProvider="contentSearchItemResolver">
      <providers>
        <add name="contentSearchItemResolver" type="Sitecore.Foundation.ItemResolver.Providers.ItemResolving.ContentSearchWildcardItemResolver, Sitecore.Foundation.ItemResolver" />
      </providers>
    </wildcardItemResolver>
    
    <linkManager>
      <patch:attribute name="defaultProvider">WildcardLinkProvider</patch:attribute>
      <providers>
        <add name="sitecore">
          <patch:attribute name="name">WildcardLinkProvider</patch:attribute>
          <patch:attribute name="type">Sitecore.Foundation.ItemResolver.Links.WildcardLinkProvider, Sitecore.Foundation.ItemResolver</patch:attribute>
          <patch:attribute name="lowercaseUrls">true</patch:attribute>
          <patch:attribute name="languageEmbedding">never</patch:attribute>
          <patch:attribute name="alwaysIncludeServerUrl">false</patch:attribute>
          <patch:attribute name="encodeNames">true</patch:attribute>
          <patch:attribute name="shortenUrls">false</patch:attribute>
          <patch:attribute name="useDisplayName">false</patch:attribute>
          <patch:attribute name="addAspxExtension">false</patch:attribute>
          <patch:attribute name="languageLocation">filePath</patch:attribute>
          <patch:attribute name="ignoreForSites">shell|login|admin|service|modules_shell|modules_website|scheduler|system|publisher</patch:attribute>
          <patch:attribute name="wildcardUrlToken">,-w-,</patch:attribute>
        </add>
      </providers>
    </linkManager>

    <settings>
      <setting name="ItemResolving.FindBestMatch">
        <patch:attribute name="value">Disabled</patch:attribute>
      </setting>
      <setting name="AllowDuplicateItemNamesOnSameLevel">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="IgnoreForSites" value="shell|login|admin|service|modules_shell|modules_website|scheduler|system|publisher" />
    </settings>
  </sitecore>
</configuration>