<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <httpRequestBegin>
                <processor patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                           type="Sitecore.Feature.Errors.Pipelines.HandleItemNotFound, Sitecore.Feature.Errors">
                </processor>
                <processor patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']"
                           type="Sitecore.Feature.Errors.Pipelines.HandleLayoutNotFound, Sitecore.Feature.Errors">
                </processor>
            </httpRequestBegin>
            <mvc.exception>
              <processor type="Sitecore.Mvc.Pipelines.MvcEvents.Exception.ShowAspNetErrorMessage, Sitecore.Mvc">
                <patch:attribute name="type">Sitecore.Feature.Errors.Pipelines.HandleMvcException, Sitecore.Feature.Errors</patch:attribute>
              </processor>
            </mvc.exception>
        </pipelines>
        <sites>
            <site name="frasersrewards">
                <patch:attribute name="itemNotFoundPage">/sitecore/content/frasersrewards/home/404</patch:attribute>
            </site>
        </sites>
    </sitecore>
</configuration>