<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Foundation.Workflow" description="Foundation Workflow" dependencies="Foundation.Serialization" extends="Helix.Foundation">
                    <predicate>
                        <include name="Notify Next Step User" database="master" path="/sitecore/templates/System/Workflow/Notify Next Step User" />
                        <include name="Workflow" database="master" path="/sitecore/system/Workflows/Frasers Workflow" />
                    </predicate>
                    <rolePredicate>
                        <include domain="modules" pattern="^Foundation Workflow .*$" />
                    </rolePredicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>