<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <events>
            <event name="item:saving">
                <handler type="Sitecore.Foundation.Workflow.CustomEvents.SaveItemEventHandle, Sitecore.Foundation.Workflow" method="OnItemSaving" />
            </event>
            <event name="item:deleting">
                <handler type="Sitecore.Foundation.Workflow.CustomEvents.DeleteItemEventHandle, Sitecore.Foundation.Workflow" method="OnDeletingItemMultisite" />
            </event>
        </events>
    </sitecore>
</configuration>