<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <unicorn>
          <configurations>
              <configuration name="Project.Common.Website" description="Common Content Setting" dependencies="Foundation.*, Feature.*" extends="Helix.Project">
                  <predicate>
                      <include name="Layouts" database="master" path="/sitecore/layout/layouts/Project/Common" />
                      <include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Common" />
                      <include name="Media" database="master" path="/sitecore/media library/Project/Common" />
                      <include name="Metadata" database="master" path="/sitecore/system/settings/Feature/Metadata">
                          <exclude children="true" />
                      </include>
                      <include name="OpenGraphTypes" database="master" path="/sitecore/system/settings/Feature/Open Graph Types" />
                  </predicate>
              </configuration>
          </configurations>
      </unicorn>
  </sitecore>
</configuration>
